.App {
  text-align: center;
}

.App-header
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
  background-color: #000;
}

.pictures
{
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
}

h1{
  font-size: 30px;
  color: #fff;
}

.search-bar
{
  margin-bottom: 20px;
  margin-top: 0px;
  border: 6px solid #fff;
  border-radius: 10px;
  height: 30px;
  width: 100%;
}